# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df0 = pd.read_csv('MentalHealthSurvey.csv')

df0.describe()

,age,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity
count,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000
mean,19.942529,3.931034,3.885057,3.781609,3.390805,2.781609,3.218391,3.218391,3.241379,3.011494
std,1.623636,1.043174,0.854880,1.125035,1.400634,1.175578,1.367609,1.297809,1.405682,1.385089
min,17.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,19.000000,3.000000,3.000000,3.000000,2.500000,2.000000,2.000000,2.000000,2.000000,2.000000
50%,20.000000,4.000000,4.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,21.000000,5.000000,4.500000,5.000000,5.000000,4.000000,4.000000,4.000000,4.500000,4.000000
max,26.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- depression

**IVs**:
- academic_pressure
- financial_concerns
- social_relationships


<br>
<br>

Let's extract the relevant columns:

In [2]:

df = df0[  ['depression', 'academic_pressure', 'financial_concerns', 'social_relationships']  ]

df.describe()

       depression  academic_pressure  financial_concerns  social_relationships
count   87.000000          87.000000           87.000000             87.000000
mean     3.218391           3.781609            3.390805              2.781609
std      1.367609           1.125035            1.400634              1.175578
min      1.000000           1.000000            1.000000              1.000000
25%      2.000000           3.000000            2.500000              2.000000
50%      3.000000           4.000000            3.000000              3.000000
75%      4.000000           5.000000            5.000000              4.000000
max      5.000000           5.000000            5.000000              5.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [3]:
df = df.rename( columns={'depression': 'Depression',
    'academic_pressure': 'Pressure',
    'financial_concerns': 'Money',
    'social_relationships': 'Social'} )

df.describe()

       Depression   Pressure      Money     Social
count   87.000000  87.000000  87.000000  87.000000
mean     3.218391   3.781609   3.390805   2.781609
std      1.367609   1.125035   1.400634   1.175578
min      1.000000   1.000000   1.000000   1.000000
25%      2.000000   3.000000   2.500000   2.000000
50%      3.000000   4.000000   3.000000   3.000000
75%      4.000000   5.000000   5.000000   4.000000
max      5.000000   5.000000   5.000000   5.000000